body{
   margin:0;
}
ul{
   list-style-type:none;
    display:flex;
    margin:0;
   justify-content:space-around;
 padding-left:0;
 padding-top:17px
   
}
ul li{
   align-items:center;
}
header{
   background:grey;
   height:60px;
  
   padding:0px;
   margin:0;
}
.logo{
   border: 2px solid black;
   border-radius:50%;
   padding:8px;
   width:fit-content;
  
}
